In [2]:
import random
import operator
from collections import Counter
from io import StringIO
import re

## Exercise 1

In [ ]:
def guessing_game():
  rand_int = random.randint(1, 100)
  guess = check_if_string_is_int(int(input('Enter a number between 1 and 100: ')))
  while guess != rand_int:
    if guess > rand_int:
      print('Too high')
      guess = check_if_string_is_int(int(input('Guess again: '))) if
    else:
      print('Too low')
      guess = check_if_string_is_int(int(input('Guess again: ')))
  print('Just right')

def check_if_string_is_int(string):
  if str.isdigit(string):
    return True
  return False

In [ ]:
def guessing_game_v2():
  int = random.randint(1, 100)
  while guess := input('Guess a number from 1-100: '):
    if

In [ ]:
guessing_game()

## Exercise 2

In [ ]:
def summing_numbers(*args):
  sum = 0
  for num in args:
    sum += num
  return sum

In [ ]:
summing_numbers(1, 2, 3)

## Exercise 3

In [ ]:
def run_timing():
  time, sum, count = 0, 0, 0
  while True:
    time = input("Enter 10 km run time: ")
    if not time:
      break
    time = float(time)
    sum += time
    count += 1
  avg = round(sum / count, 2)
  return f'Average of {avg}, over {count} runs.'

In [ ]:
run_timing()

## Exercise 4

In [ ]:
def hex_output(hex):
  """
  Takes a hex number and returns the decimal equivalent. That is, if the user enters 50, you’ll assume
  that it’s a hex number (equal to 0x50) and will print the value 80 to the screen. And
  no, you shouldn’t convert the number all at once using the int function, although it’s
  permissible to use int one digit at a time.
  """
  hex = hex.upper()
  hex_dict = {'A': 10, 'B': 11, 'C': 12, 'D': 13, 'E': 14, 'F': 15}
  dec = 0
  for idx, num in enumerate(reversed(hex)):
    if num in hex_dict:
      dec += hex_dict[num] * (16 ** idx)
    else:
      dec += int(num) * (16 ** idx)

  return dec

In [ ]:
hex_output('5f')

95

In [ ]:
def hex_output_v2(hex):
  hex = hex.upper()
  dec = 0

  # use of reversed() and int()
  for power, num in enumerate(reversed(hex)):
    dec += int(num, 16) * (16 ** power)

  return dec

In [ ]:
hex_output_v2('5f')

95

In [ ]:
def hex_output_robust(hex):
  # 0-9: 48 - 57; A-F: 65/97 - 70/102
  hex_vals = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'A', 'B', 'C', 'D', 'E', 'F']
  hex = hex.upper()
  dec = 0
  for power, num in enumerate(hex[::-1]):
    if num not in hex_vals:
      raise ValueError("hex values are '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'A', 'B', 'C', 'D', 'E', 'F'")
    dec += hex_vals.index(num) * (16 ** power)
  return dec

In [ ]:
hex_output_robust('57CJ')

## Exercise 5 & 6

In [ ]:
def pig_latin(english):
  pig_latin = ''
  for word in english.lower().split():
    if word[0] in 'aeiou':
      pig_latin += f"{word}way "
    else:
      pig_latin += f"{word[1:]}{word[0]}ay "
  return pig_latin

In [ ]:
pig_latin('air eat python computer')

'airway eatway ythonpay omputercay '

## Exercise 7

In [ ]:
def ubbi_dubbi(word):
  """
  takes a single word (string) as an argument.
  It returns a string, the word’s translation into Ubbi Dubbi.
  So if the function is called with 'octopus', the function
  will return the string 'uboctubopubus'.
  """

  translated = ''
  for letter in word:
    if letter in 'aeiou':
      translated += f"ub{letter}"
    else:
      translated += letter

  return translated

In [ ]:
ubbi_dubbi('octopus')

'uboctubopubus'

## Exercise 8

In [ ]:
def strsort(word):
  """
  takes a single string as its input and returns a string.
  The returned string should contain the same characters as the input,
  except that its characters should be sorted in order,
  from the lowest Unicode value to the highest Unicode value.
  For example, the result of invoking strsort('cba') will be the string abc.
  """

  unicode_vals = []
  unicode_vals.append(ord(word[0]))

  for letter in word[1:]:
    cur_val = ord(letter)
    min_idx = len(unicode_vals)
    for i in range(len(unicode_vals)):
      if cur_val < unicode_vals[i]:
        min_idx = i
        break
    unicode_vals.insert(min_idx, cur_val)

  final = "".join([chr(letter) for letter in unicode_vals])

  return final

In [ ]:
strsort('zyx')

'xyz'

## Exercise 9

In [ ]:
def firstlast(sequence):
  """
  takes a sequence (string, list, or tuple) and returns the first and last elements of that
  sequence, in a two-element sequence of the same type. So firstlast('abc') will
  return the string ac, while firstlast([1,2,3,4]) will return the list [1,4].
  """

  return sequence[0::len(sequence)-1]

In [ ]:
print(type(firstlast('abc')))
print(type(firstlast([1,2,3,4])))

<class 'str'>
<class 'list'>

## Exercise 10

In [ ]:
def mysum(*args):
  final = args[0]
  for val in args[1:]:
    final += val
  return final

In [ ]:
mysum('abc', 'def')

'abcdef'

In [ ]:
mysum([1,2,3], [4,5,6])

[1, 2, 3, 4, 5, 6]

In [ ]:
mysum(1,2,3)

6

## Exercise 11

In [ ]:
def alphabetize_names(names):
  """
  assumes the existence of a PEOPLE constant defined as shown in the code.
  The function should return the list of dicts,
  but sorted by last name and then by first name.
  """
  return sorted(names, key=operator.itemgetter('last','first'))

In [ ]:
PEOPLE = [{'first':'Reuven', 'last':'Lerner', 'email':'reuven@lerner.co.il'},
{'first':'Donald', 'last':'Trump', 'email':'president@whitehouse.gov'},
{'first':'Vladimir', 'last':'Putin', 'email':'president@kremvax.ru'}]

In [ ]:
alphabetize_names(PEOPLE)

[{'first': 'Reuven', 'last': 'Lerner', 'email': 'reuven@lerner.co.il'},
 {'first': 'Vladimir', 'last': 'Putin', 'email': 'president@kremvax.ru'},
 {'first': 'Donald', 'last': 'Trump', 'email': 'president@whitehouse.gov'}]

In [ ]:
def sort_abs_val(numbers):
  """Given a sequence of positive and negative numbers, sort them by absolute value"""
  return sorted(numbers, key=lambda x: abs(x))

In [ ]:
num_list = [-1, 4, -7, 3, 2, 11, -21]

In [ ]:
sort_abs_val(num_list)

[-1, 2, 3, 4, -7, 11, -21]

## Exercise 12

In [ ]:
def most_repeating_word(strings):
  """
  Takes a sequence of strings as input.
  The function should return the string that contains the
  greatest number of repeated letters.
  """
  most_repeating_word = None
  count = 0
  for word in strings:
    max_repeat = Counter(word).most_common(1)[0][1]
    if max_repeat > count:
      most_repeating_word = word
      count = max_repeat
  return most_repeating_word

In [ ]:
def most_repeating_word_optimized(words):
  """
  Takes a sequence of strings as input.
  The function should return the string that contains the
  greatest number of repeated letters.
  """
  return max(words, key=lambda word: Counter(word).most_common(1)[0][1])

In [ ]:
words = ['this', 'is', 'an', 'elementary', 'test', 'example']

In [ ]:
most_repeating_word(words)

'elementary'

In [ ]:
most_repeating_word_optimized(words)

'elementary'

## Exercise 13

In [ ]:
from os import truncate
def format_sort_records(peoples):
  """
  Takes the PEOPLE list and returns
  a formatted string that looks like the following:
    Trump Donald 7.85
    Putin Vladimir 3.63
    Xi Jinping 10.60

  Notice that the last name is printed before the first name
  (taking into account that Chinese names are generally shown that way),
  followed by a decimal-aligned indication of how long it’ll take for
  each leader to arrive in London. Each name should be printed
  in a 10-character field, and the time should be printed in a
  5-character field, with one space character of padding between
  each of the columns. Travel time should display only two digits
  after the decimal point, which means that even though the input for Xi
  Jinping’s flight is 10.603 hours, the value displayed should be 10.60
  """

  for people in peoples:
    print(f"{people[1][0:10:]} {people[0][0:10:]} {round(people[2], 2)}")

In [ ]:
def format_sort_records_optimized(peoples):
  for people in peoples:
    print("{1:10} {0:10} {2:5.2f}\n".format(*people))

In [ ]:
PEOPLE = [('Donald', 'Trump', 7.85),
('Vladimir', 'Putin', 3.626),
('Jinping', 'Xi', 10.603)]

In [ ]:
format_sort_records(PEOPLE)

Trump Donald 7.85
Putin Vladimir 3.63
Xi Jinping 10.6

In [ ]:
format_sort_records_optimized(PEOPLE)

Trump      Donald      7.85

Putin      Vladimir    3.63

Xi         Jinping    10.60

## Exercise 14

In [ ]:
MENU = {"fish": 12, "chips": 15, "soda": 20}

def restaurant():
  """
  Asks the user to enter an order:
    - If the user enters the name of a dish on the menu, the program prints the price
  and the running total. It then asks the user again for their order.
    - If the user enters the name of a dish not on the menu, the program scolds the
user (mildly). It then asks the user again for their order.
    - If the user enters an empty string, the program stops prompting and prints the
total amount.
  """
  order = input("Enter an order: ")
  total = 0
  while order != "":
    if order in MENU:
      total += MENU[order]
    elif order not in MENU:
      print("Item not in menu.")
    order = input("Enter an order: ")
  return f"Your total is ${total}."

In [ ]:
restaurant()

Enter an order: fish
Enter an order: peos
Item not in menu.
Enter an order: chips
Enter an order:

'Your total is $27.'

# Exercise 15

In [ ]:
def get_rainfall():
  city_dict = {}
  city = input("Enter a city: ")
  while city != "":
    rain = input("Rainfall amount: ")
    if city in city_dict:
      city_dict[city] += int(rain)
    else:
      city_dict[city] = int(rain)
    city = input("Enter a city: ")
  for city, rain in city_dict.items():
    print(f"{city}: {rain}")

In [ ]:
get_rainfall()

Enter a city: Boston
Rainfall amount: 4
Enter a city: NYC
Rainfall amount: 4
Enter a city: Boston
Rainfall amount: 4
Enter a city:
{'Boston': 8, 'NYC': 4}
Boston: 8
NYC: 4

# Exercise 16

In [ ]:
def dictdiff(dict1, dict2):
  """
  Takes two dicts as arguments.
  The function returns a new dict that expresses the difference between the two dicts.
  If there are no differences between the dicts, dictdiff returns an empty dict. For
  each key-value pair that differs, the return value of dictdiff will have a key-value pair
  in which the value is a list containing the values from the two different dicts. If one of
  the dicts doesn’t contain that key, it should contain None
  """
  keys = [key for key in dict1.keys()] + [key for key in dict2.keys()]
  dict_diff = {}
  for key in keys:
    if (key not in dict1) or (key not in dict2) or (dict1[key] != dict2[key]):
      dict1_val = None if key not in dict1 else dict1[key]
      dict2_val = None if key not in dict2 else dict2[key]
      dict_diff[key] = [dict1_val, dict2_val]
  return dict_diff

In [ ]:
def dictdiff(dict1, dict2):
  """
  Takes two dicts as arguments.
  The function returns a new dict that expresses the difference between the two dicts.
  If there are no differences between the dicts, dictdiff returns an empty dict. For
  each key-value pair that differs, the return value of dictdiff will have a key-value pair
  in which the value is a list containing the values from the two different dicts. If one of
  the dicts doesn’t contain that key, it should contain None
  """

  allkeys = dict1.keys() | dict2.keys()
  dict_diff = {}
  for key in allkeys:
    if dict1.get(key) != dict2.get(key):
      dict_diff[key] = [dict1.get(key), dict2.get(key)]
  return dict_diff

In [ ]:
d1 = {'a':1, 'b':2, 'c':3}
d2 = {'a':1, 'b':2, 'c':4}
d3 = {'a':1, 'b':2, 'd':3}
d4 = {'a':1, 'b':2, 'c':4}
d5 = {'a':1, 'b':2, 'd':4}

print(dictdiff(d1, d1))
print(dictdiff(d1, d2))
print(dictdiff(d3, d4))
print(dictdiff(d1, d5))

{}
{'c': [3, 4]}
{'d': [3, None], 'c': [None, 4]}
{'d': [None, 4], 'c': [3, None]}

# Exercise 17

In [ ]:
def how_many_different_numbers(numbers):
  return len(set(numbers))

In [ ]:
numbers = [1, 2, 3, 1, 2, 3, 4, 1]
print(how_many_different_numbers(numbers))

4

# Exercise 18

In [6]:
fakefile = StringIO('''
nobody:*:-2:-2::0:0:Unprivileged User:/var/empty:/usr/bin/false
root:*:0:0::0:0:System Administrator:/var/root:/bin/sh
daemon:*:1:1::0:0:System Services:/var/root:/usr/bin/false
''')

In [3]:
def get_final_line(filepath):
  with open(filepath) as f:
    lines = f.read()
    return(lines[-1])

In [4]:
get_final_line('exercise_18.txt')

'\n'

### 18.1

In [16]:
### Iterate over the lines of a text file. Find all of the words (i.e., non-whitespace
### surrounded by whitespace) that contain only integers, and sum them.
def sum_integers_from_file(filepath):
    sum = 0
    for current_line in open(filepath):
        for char in current_line:
            try:
                sum += int(char)
            except:
                pass
            
    return sum

In [17]:
sum_integers_from_file('exercise_18_fakefile.txt')

6

In [7]:
"""
Create a text file (using an editor, not necessarily Python) containing two tabseparated columns, with each column containing a number. Then use Python
to read through the file you’ve created. For each line, multiply each first number by the second, and then sum the results from all the lines. Ignore any line
that doesn’t contain two numeric columns.
"""

def mul_and_sum_from_file(filepath):
    sum = 0
    for current_line in open(filepath):
        all_ints_in_line = re.findall('\d+', current_line)
        mul = 1
        for ints in all_ints_in_line:
            mul *= int(ints)
        sum += mul
    return sum

In [8]:
mul_and_sum_from_file('exercise_18_2.txt')

190